$color-orange: #fd7d0e;
$color-orange--light: #ffc204;
$color-white: #fff;
$color-blue: #2160bc;
$color-blue--dark: #144184;
$color-blue--light: #3e8afa;
$color-black: #111111;
$color-gray: #6b6866;
$color-gray--light: #f5f6f7;